<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <div class="nav navbar-left">
        <img src="../../assets/images/Inconso_RGB.png">
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="../conges">Demande de congés</a></li>
        <li routerLinkActive="active"><a routerLink="../rtt">Demande de RTT</a></li>
        <li routerLinkActive="active"><a routerLink="../auth">Se deconnecter</a></li>
      </ul>
    </div>
  </div>
</nav>
